### Data Preprocessing

In [30]:
#import required libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [31]:
data = pd.read_csv('NIFTY50_all.csv')   # Load the dataset

In [32]:
data

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366,2.687719e+15,NaN,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338,4.312765e+14,NaN,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121,4.550658e+14,NaN,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762,4.283257e+14,NaN,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470,2.875200e+14,NaN,816123.0,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,1.600451e+14,52374.0,2340188.0,0.2739
235188,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,2.698636e+14,73673.0,5425957.0,0.3808
235189,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,1.591917e+14,44056.0,2413974.0,0.2864
235190,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,1.777471e+14,60932.0,2744472.0,0.2894
235191,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,2.144440e+14,62607.0,3323909.0,0.2907

In [33]:
data.head(3)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.0,770.0,1050.00,770.0,959.0,962.9,984.72,27294366,2.687719e+15,NaN,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.9,984.0,990.00,874.0,885.0,893.9,941.38,4581338,4.312765e+14,NaN,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.9,909.0,914.75,841.0,887.0,884.2,888.09,5124121,4.550658e+14,NaN,1069678.0,0.2088

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235192 entries, 0 to 235191
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                235192 non-null  object
 1   Symbol              235192 non-null  object
 2   Series              235192 non-null  object
 3   Prev Close          235192 non-null  float64
 4   Open                235192 non-null  float64
 5   High                235192 non-null  float64
 6   Low                 235192 non-null  float64
 7   Last                235192 non-null  float64
 8   Close               235192 non-null  float64
 9   VWAP                235192 non-null  float64
 10  Volume              235192 non-null  int64
 11  Turnover            235192 non-null  float64
 12  Trades              120344 non-null  float64
 13  Deliverable Volume  219115 non-null  float64
 14  %Deliverble         219115 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 26.9+ MB

In [35]:
data.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [36]:
data.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,235192.000000,235192.000000,235192.000000,235192.000000,235192.000000,235192.000000,235192.00000,2.351920e+05,2.351920e+05,1.203440e+05,2.191150e+05,219115.000000
mean,1266.196349,1267.759708,1286.581440,1247.488465,1266.388302,1266.554351,1267.13230,3.045903e+06,1.610138e+14,6.196427e+04,1.315098e+06,0.502997
std,2581.370320,2585.259609,2619.649216,2546.621396,2581.392543,2582.140942,2582.69998,7.333981e+06,3.298085e+14,6.866457e+04,2.831670e+06,0.190019
min,0.000000,8.500000,9.750000,8.500000,9.100000,9.150000,9.21000,3.000000e+00,1.047000e+07,1.100000e+01,5.000000e+00,0.023600
25%,274.300000,275.000000,279.500000,269.600000,274.400000,274.350000,274.69750,2.190095e+05,1.612816e+13,2.183400e+04,1.253830e+05,0.364700
50%,566.500000,567.025000,576.900000,556.500000,567.000000,566.700000,566.94000,1.010938e+06,6.832603e+13,4.406800e+04,5.017560e+05,0.511000
75%,1242.200000,1243.312500,1263.000000,1221.650000,1242.900000,1242.400000,1242.66250,3.019851e+06,1.863835e+14,7.893550e+04,1.452233e+06,0.638400
max,32861.950000,33399.950000,33480.000000,32468.100000,32849.000000,32861.950000,32975.24000,4.810589e+08,3.564334e+16,1.643015e+06,2.325307e+08,1.000000

In [37]:
data.isnull()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235187,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
235188,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
235189,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
235190,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
235191,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [38]:
data["Daily_Return"] = data["Close"].pct_change()  # Calculate daily returns

In [39]:
data["Daily_Return"]    #display daily returns

0              NaN
1        -0.071659
2        -0.010851
3         0.042242
4         0.051815
            ...
235187   -0.008511
235188    0.009388
235189    0.005049
235190   -0.013485
235191   -0.005092
Name: Daily_Return, Length: 235192, dtype: float64

In [40]:
data.dropna(inplace=True)  # Drop missing values

In [41]:
# Features (X) and target variable (y)

X = data[["Open", "High", "Low", "Volume"]]    # Features (X)

In [42]:
X   #display features (X)

          Open    High     Low    Volume
866     162.10  165.70  161.25   2574106
867     164.00  165.15  160.15   1699298
868     161.50  162.80  159.20   1185817
869     160.50  161.10  159.05    546378
870     159.85  162.75  156.35   2193466
...        ...     ...     ...       ...
235187  190.60  191.10  185.10   8542755
235188  188.00  192.95  186.80  14247767
235189  188.80  190.60  187.10   8429439
235190  190.80  191.65  186.00   9483009
235191  185.30  190.95  183.65  11435285

[120344 rows x 4 columns]

In [43]:
y = data["Close"]  #target variable (y)

In [44]:
y   #display target variable (y)

866       164.00
867       161.25
868       161.05
869       159.85
870       157.25
           ...
235187    186.40
235188    188.15
235189    189.10
235190    186.55
235191    185.60
Name: Close, Length: 120344, dtype: float64


### Splitting the Dat

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  # Split the data into training and testing sets

In [46]:
X_train, X_test, y_train, y_test

(           Open     High      Low    Volume
 18388    645.55   646.20   620.65    114003
 229515   257.30   259.40   254.70   1584724
 224236   147.60   150.70   147.60  20297117
 163804   101.50   101.80   100.50   4309633
 13916    707.20   708.45   677.45  16239521
 ...         ...      ...      ...       ...
 214736  3360.10  3453.80  3360.10    393834
 234727   338.00   341.65   334.25   5143097
 203628  1252.00  1262.00  1216.85   1232350
 1726     304.70   307.25   296.00   3988326
 28949    343.25   347.95   343.25   3312806

 [96275 rows x 4 columns],
             Open      High       Low    Volume
 83593     689.00    695.00    687.00   2304965
 8534     2516.00   2536.90   2495.00   2171653
 199554   1120.00   1132.00   1112.00    889370
 186040    747.00    752.00    741.95   1900094
 83934     716.25    721.30    707.30   3075582
 ...          ...       ...       ...       ...
 152685   7854.80   7910.00   7808.35     47060
 20000    9290.05   9327.90   9252.30    100160
 127333    278.85    278.85    274.45  10013278
 24258    6099.80   6189.90   6030.20     78229
 58618   30580.00  30592.90  30135.00     15266

 [24069 rows x 4 columns],
 18388      624.55
 229515     258.50
 224236     149.40
 163804     101.20
 13916      685.25
            ...
 214736    3434.35
 234727     338.10
 203628    1232.25
 1726       300.15
 28949      346.75
 Name: Close, Length: 96275, dtype: float64,
 83593       692.60
 8534       2520.95
 199554     1115.80
 186040      743.40
 83934       718.70
             ...
 152685     7874.30
 20000      9294.85
 127333      275.00
 24258      6106.30
 58618     30178.20
 Name: Close, Length: 24069, dtype: float64)

In [47]:

# Create a linear regression model
model = LinearRegression()
# Train the model
model.fit(X_train, y_train)

LinearRegression()


### Making Predictions

In [48]:
y_pred = model.predict(X_test)    # Make predictions

In [49]:
y_pred

array([  691.96899007,  2515.94956647,  1122.93896717, ...,
         275.5233208 ,  6114.97457285, 30256.41773132])

### Evaluating the Model

In [50]:
mse = np.mean((y_pred - y_test) ** 2)   # Evaluate the model using Mean Squared Error
print("Mean Squared Error:", mse)

Mean Squared Error: 876.1553060581307